.video {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  background-color: rgb(158, 158, 158);
}

.video__player {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.playBtn {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}